---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
i#sidebar-trigger {
  cursor: pointer;
}

i#search-trigger {
  cursor: pointer;
}

i#sidebar-trigger:hover {
  color: var(--sidebar-active-color) !important;
}

i#search-trigger:hover {
  color: var(--sidebar-active-color) !important;
}